html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0.5rem;
  background: #111;
  color: white;
}

#search {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

/*#map {
  flex: 1;
  width: 100%;
  position: relative; 
}*/

#info-panel {
  padding: 1rem;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 50%;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
}

.hidden {
  display: none;
}

#info-image {
  width: 100%;
  margin-bottom: 0.5rem;
}

#splash {
  position: fixed;
  inset: 0;
  background: #f5f1e8;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 24px;
}

#splash img {
  width: 140px;
  height: 140px;
  margin-bottom: 24px;
}

#splash p {
  font-size: 1.1rem;
  max-width: 320px;
  margin-bottom: 20px;
}

#splash button {
  font-size: 1rem;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #111;
  color: white;
}

#visited-panel {
  position: fixed;
  inset: 0;
  background: white;
  z-index: 2000;
  padding: 1rem;
  overflow-y: auto;
}

#visited-panel ul {
  list-style: none;
  padding: 0;
}

#visited-panel li {
  padding: 0.75rem 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

#visited-panel li:hover {
  background: #f5f5f5;
}
