html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0.5rem;
  background: #111;
  color: white;
}

#search {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

/*#map {
  flex: 1;
  width: 100%;
  position: relative; 
}*/

#info-panel {
  padding: 1rem;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 50%;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
}

.hidden {
  display: none;
}

#info-image {
  width: 100%;
  margin-bottom: 0.5rem;
}
